---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
           {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
          <script type="text/javascript" src="assets/js/d3.min.js"></script>
        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html 
              path=profile_image_path 
              class=profile_image_class
              alt=page.profile.image -%}
            {% endif -%}
            {%- if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>
            {%- endif %}
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>

<script type="text/javascript">
  let draw_plot2 = function (file_path) {
    let rowConverter = data => {
        return {
            day: data["Date"],
            drink: parseFloat(data["Data"])
        }
    }

    let data = d3.csv(file_path, rowConverter)

    data.then(data => {

        console.log(data)

        let days = data.map(d=>d.day);

        console.log(days)


        let svgHeight = 700
        let svgWidth = 1000
        let padding = 50

        let svg = d3.select("#plot2").append("svg")
            .attr("width", svgWidth).attr("height", svgHeight);

        let xScale = d3.scaleBand().domain(days)
            .range([padding, svgWidth-padding]).paddingInner(0.15)
        let yScale = d3.scaleLinear().domain([0, 3])
            .range([svgHeight-padding, padding])

        let xAxis = d3.axisBottom().scale(xScale);
        let yAxis = d3.axisLeft().scale(yScale);

        // svg.append("g").call(xAxis).attr("class", "xAxis")
        //     .attr("transform", `translate(0, ${svgHeight-padding})`);

        // svg.append("g").call(yAxis).attr("class", "yAxis")
        //     .attr("transform", `translate(${padding}, 0)`);

        let tooltip = d3.select("#plot2")
            .append("div")
            .style("opacity", 0)
            .attr("class", "tooltip")
            .style("background-color", "white")
            .style("border", "solid")
            .style("border-width", "2px")
            .style("border-radius", "5px")
            .style("padding", "5px")



        function handleMouseOver(event, d) {
            d3.select(this).transition("be pink").duration(50).style("fill", "#e27c7c")
            tooltip.transition("Show tooltip")
                .duration(200)
                .style("opacity", .9);
            tooltip.html(`Day: ${d.day} <br> Volumn Drank: ${d.drink.toFixed(2)}`)
                .style("left", (event.pageX - 100) + "px")
                .style("top", (event.pageY - 100) + "px");
        }

        function handleMouseOut(event, d) {
            d3.select(this).transition("be black").duration(500).style("fill", "#503f3f")
            tooltip.transition("Show tooltip")
                .duration(200)
                .style("opacity", 0);
        }

        function handleMouseMove(event, d) {
            tooltip
                .style("left", (event.pageX-100) + "px")
                .style("top", (event.pageY-100) + "px");
        }

        let bars = svg.selectAll(".bar").data(data)
            .enter().append("rect")
            .attr("class", "bar")
            .attr("x", (d, i) => xScale(days[i]))
            .attr("y", d => yScale(d.drink))
            .attr("width", xScale.bandwidth())
            .on("mouseover", handleMouseOver)
            .on("mouseout", handleMouseOut)
            .on("mousemove", handleMouseMove)
            .style("fill", "#503f3f")
            .attr("height", d => svgHeight - yScale(d.drink) - padding)

        svg.selectAll(".bars").data(data)
            .enter().append("rect")
            .attr("class", "bars")
            .attr("x", (d, i) => xScale(days[i])-10)
            .attr("y", d => yScale(d.drink)-10)
            .attr("width", xScale.bandwidth()+20)
            .attr("height", d => svgHeight - yScale(d.drink) - padding + 10)
            .style("fill", "#ffffff")
            .transition("change height")
            .duration(2000)
            .attr("height", 0)


        svg.append("text")
            .attr("class", "x label")
            .attr("text-anchor", "end")
            .attr("x", svgWidth / 2 + 50)
            .attr("font-size", 20)
            .attr("y", svgHeight - 10 )
            .text("Date");

        svg.append("text")
            .attr("class", "y label")
            .attr("text-anchor", "end")
            .attr("x", -300)
            .attr("y", 0)
            .attr("font-size", 20)
            .attr("dy", ".75em")
            .attr("transform", "rotate(-90)")
            .text("Volumn of Water Drank");

        let isDescending = 0;

        let cat = "estimated_hesitant_unsure";

        let sort_func = (a, b) => {
            if (isDescending===0) {
                return b[cat] - a[cat];
            } else if (isDescending === 1) {
                return a[cat] - b[cat]
            } else {
                isDescending = -1;
                return a.state_code.localeCompare(b.state_code)
            }
        }

        let sortBars = function(){

            flatStates.sort(sort_func)
            let sorted_state_code = flatStates.map(d=>d.state_code)
            xScale.domain(state_code)
            // console.log(sorted_state_code)
            svg.selectAll(".bar").sort(sort_func)
                .transition("sorting")
                .duration(1000)
                .attr("x", (d, i) => xScale(state_code[i]));
            xScale.domain(sorted_state_code)

            isDescending++;

            // console.log(flatStates)

            svg.select(".xAxis").transition().duration(1000).call(xAxis)
        }

        d3.select("#sort_button").on("click", function(){
            sortBars();
        })

        let change_cat = category => {
            cat = category.target.value
            xScale.domain(state_code)
            svg.selectAll(".bar")
                .transition("change cat")
                .duration(1000)
                .attr("x", (d, i) => xScale(state_code[i]))
                .attr("y", d=>yScale(d[cat]))
                .attr("height", d => svgHeight - yScale(d[cat]) - padding);
            //reset is descending
            isDescending = 0
        }

        d3.select("#radio_plot2").on("change", change_cat)

        // Add the title
        svg.append("text")
            .attr("class", "x label")
            .attr("text-anchor", "middle")
            .attr("x", svgWidth / 2)
            .attr("y", padding - 20)
            .attr("font-size", 20)
            .text("Daily Water Consumption Plot");

        svg.append("g").call(xAxis).attr("class", "xAxis")
            .attr("transform", `translate(0, ${svgHeight-padding})`);

        svg.append("g").call(yAxis).attr("class", "yAxis")
            .attr("transform", `translate(${padding}, 0)`);
    })
}
</script>

<script type="text/javascript">
  draw_plot2("assets/data/testdata.csv");
</script>

<div>
    <h3>Bar Chart of Water Drinking</h3>

    <div id="radio_plot2" class="center_plot">
    </div>
    <div id="plot2" class="center_plot"></div>
</div>


          {% if page.news -%}
          <!-- News -->
          {%- include news.html %}
          {%- endif %}
          {% if page.selected_papers -%}
            <!-- Selected papers -->
            {%- include selected_papers.html %}
          {%- endif %}
          {%- if page.social %}
          <!-- Social -->
          <div class="social">
            <div class="contact-icons">
            {% include social.html %}
            </div>

            <div class="contact-note">
              {{ site.contact_note }}
            </div>
            
          </div>
          {%- endif %}
        </article>

</div>
